@import '../../../../assets/global-styles/theme.scss';

.container {
    width: 25%;
    background-color: red;
    padding: 20px;
    border-radius: 10px;

    h4 {
        font-weight: 500;
        font-size: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $light-text;
    }

    @media screen and (max-width: 768px) {
        width: 100%;
        margin-bottom: 30px;
        
        h4 {
            font-size: 20px;
        }
    }
}